<app-header title="Enterprise Risk Management"></app-header>
<div class="forget-password-div">
    <app-card class="card">
        <h1 class="title">Reset Password</h1>
        <form class="form" ngNativeValidate (submit)="resetPwd()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" required name="email" [(ngModel)]="email">
            </mat-form-field>
            <button type="submit" mat-raised-button>Reset Password</button>
        </form>
        <p *ngIf="submitted">A password reset link has been sent to your email address</p>
    </app-card>
</div>